In [1]:
import pandas as pd

# Create the data for our DataFrame
# We use Python's 'None' or pd.NA for missing values. Pandas handles this perfectly.
data = {
    'EmployeeID': ['E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07'],
    'Name': ['Arun', 'Priya', 'Rohan', 'Sneha', 'Vikram', 'Anjali', 'Kiran'],
    'Department': ['HR', 'Engineering', 'Marketing', 'Engineering', 'HR', 'Marketing', pd.NA],
    'HireDate': pd.to_datetime(['2022-08-01', '2021-05-12', '2023-01-15', '2021-05-20', '2024-02-01', '2022-09-30', '2023-07-11']),
    'Salary': [60000, 95000, 72000, 105000, 58000, 75000, 68000],
    'PerformanceScore': [4.5, 4.8, 3.9, 4.9, 4.1, pd.NA, 3.5]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Set 'EmployeeID' as the index for more meaningful row labels
df.set_index('EmployeeID', inplace=True)

# Display the initial DataFrame
print("--- Initial DataFrame (Created with Pandas only) ---")
print(df)

--- Initial DataFrame (Created with Pandas only) ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E01           Arun           HR 2022-08-01   60000              4.5
E02          Priya  Engineering 2021-05-12   95000              4.8
E03          Rohan    Marketing 2023-01-15   72000              3.9
E04          Sneha  Engineering 2021-05-20  105000              4.9
E05         Vikram           HR 2024-02-01   58000              4.1
E06         Anjali    Marketing 2022-09-30   75000             <NA>
E07          Kiran         <NA> 2023-07-11   68000              3.5

In [2]:
# Get the first 3 rows
print("--- df.head(3) ---")
print(df.head(3))

# Get the last 2 rows
print("\n--- df.tail(2) ---")
print(df.tail(2))

--- df.head(3) ---
             Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E01          Arun           HR 2022-08-01   60000              4.5
E02         Priya  Engineering 2021-05-12   95000              4.8
E03         Rohan    Marketing 2023-01-15   72000              3.9

--- df.tail(2) ---
              Name Department   HireDate  Salary PerformanceScore
EmployeeID
E06         Anjali  Marketing 2022-09-30   75000             <NA>
E07          Kiran       <NA> 2023-07-11   68000              3.5

In [3]:
print("--- df.info() ---")
df.info()

--- df.info() ---
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, E01 to E07
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              7 non-null      object
 1   Department        6 non-null      object
 2   HireDate          7 non-null      datetime64[ns]
 3   Salary            7 non-null      int64
 4   PerformanceScore  6 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 336.0+ bytes

In [4]:
print("--- df.describe() ---")
print(df.describe())

--- df.describe() ---
                            HireDate         Salary
count                              7       7.000000
mean   2022-09-03 17:08:34.285714176   76142.857143
min              2021-05-12 00:00:00   58000.000000
25%              2021-12-25 00:00:00   64000.000000
50%              2022-09-30 00:00:00   72000.000000
75%              2023-04-13 12:00:00   85000.000000
max              2024-02-01 00:00:00  105000.000000
std                              NaN   17620.334573

In [6]:
print(f"Shape of DataFrame (rows, columns): {df.shape}")
print(f"\nColumn Labels: {df.columns}")
print(f"\nIndex Labels: {df.index}")
print("\n--- Data Types of each column ---")
print(df.dtypes)

Shape of DataFrame (rows, columns): (7, 5)

Column Labels: Index(['Name', 'Department', 'HireDate', 'Salary', 'PerformanceScore'], dtype='object')

Index Labels: Index(['E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07'], dtype='object', name='EmployeeID')

--- Data Types of each column ---
Name                        object
Department                  object
HireDate            datetime64[ns]
Salary                       int64
PerformanceScore            object
dtype: object

In [8]:
# Select a single column (returns a Series)
names = df['Name']
print("--- Single Column: Name ---")
print(names)

# Select multiple columns (returns a DataFrame)
contact_info = df[['Name', 'Department']]
print("\n\n--- Multiple Columns: Name and Department ---")
print(contact_info)

--- Single Column: Name ---
EmployeeID
E01      Arun
E02     Priya
E03     Rohan
E04     Sneha
E05    Vikram
E06    Anjali
E07     Kiran
Name: Name, dtype: object


--- Multiple Columns: Name and Department ---
              Name   Department
EmployeeID
E01           Arun           HR
E02          Priya  Engineering
E03          Rohan    Marketing
E04          Sneha  Engineering
E05         Vikram           HR
E06         Anjali    Marketing
E07          Kiran         <NA>

In [9]:
# --- Using .loc (label-based) ---
# Select a single row by its index label
arun_data = df.loc['E01']
print("--- df.loc['E01'] ---")
print(arun_data)

# --- Using .iloc (integer-position-based) ---
# Select the first row (position 0)
first_row = df.iloc[0]
print("\n--- df.iloc[0] ---")
print(first_row)

--- df.loc['E01'] ---
Name                               Arun
Department                           HR
HireDate            2022-08-01 00:00:00
Salary                            60000
PerformanceScore                    4.5
Name: E01, dtype: object

--- df.iloc[0] ---
Name                               Arun
Department                           HR
HireDate            2022-08-01 00:00:00
Salary                            60000
PerformanceScore                    4.5
Name: E01, dtype: object

In [10]:
# Find all employees in the 'Engineering' department
engineers = df[df['Department'] == 'Engineering']
print("--- Engineers ---")
print(engineers)

# Find all employees with a salary greater than 70000
high_earners = df[df['Salary'] > 70000]
print("\n--- High Earners (Salary > 70000) ---")
print(high_earners)

# Combine conditions: Find employees in HR with a score above 4
hr_high_performers = df[(df['Department'] == 'HR') & (df['PerformanceScore'] > 4)]
print("\n--- High Performing HR Employees ---")
print(hr_high_performers)

--- Engineers ---
             Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E02         Priya  Engineering 2021-05-12   95000              4.8
E04         Sneha  Engineering 2021-05-20  105000              4.9

--- High Earners (Salary > 70000) ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E02          Priya  Engineering 2021-05-12   95000              4.8
E03          Rohan    Marketing 2023-01-15   72000              3.9
E04          Sneha  Engineering 2021-05-20  105000              4.9
E06         Anjali    Marketing 2022-09-30   75000             <NA>

--- High Performing HR Employees ---
              Name Department   HireDate  Salary PerformanceScore
EmployeeID
E01           Arun         HR 2022-08-01   60000              4.5
E05         Vikram         HR 2024-02-01   58000              4.1

In [11]:
# Drop a column (axis=1)
df_no_hiredate = df.drop('HireDate', axis=1)
print("--- DataFrame after dropping 'HireDate' column ---")
print(df_no_hiredate.head())

# Drop a row by its index label (axis=0 is default)
df_without_e05 = df.drop('E05')
print("\n--- DataFrame after dropping row 'E05' ---")
print(df_without_e05)

--- DataFrame after dropping 'HireDate' column ---
              Name   Department  Salary PerformanceScore
EmployeeID
E01           Arun           HR   60000              4.5
E02          Priya  Engineering   95000              4.8
E03          Rohan    Marketing   72000              3.9
E04          Sneha  Engineering  105000              4.9
E05         Vikram           HR   58000              4.1

--- DataFrame after dropping row 'E05' ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E01           Arun           HR 2022-08-01   60000              4.5
E02          Priya  Engineering 2021-05-12   95000              4.8
E03          Rohan    Marketing 2023-01-15   72000              3.9
E04          Sneha  Engineering 2021-05-20  105000              4.9
E06         Anjali    Marketing 2022-09-30   75000             <NA>
E07          Kiran         <NA> 2023-07-11   68000              3.5

In [12]:
# Rename columns
df_renamed = df.rename(columns={'Salary': 'AnnualSalary (INR)', 'Name': 'EmployeeName'})
print("--- Renamed columns ---")
print(df_renamed.head())

--- Renamed columns ---
           EmployeeName   Department   HireDate  AnnualSalary (INR)  \
EmployeeID
E01                Arun           HR 2022-08-01               60000
E02               Priya  Engineering 2021-05-12               95000
E03               Rohan    Marketing 2023-01-15               72000
E04               Sneha  Engineering 2021-05-20              105000
E05              Vikram           HR 2024-02-01               58000

           PerformanceScore
EmployeeID
E01                     4.5
E02                     4.8
E03                     3.9
E04                     4.9
E05                     4.1

In [15]:
# Count the number of employees in each department
# By default, it excludes missing values.
dept_counts = df['Department'].value_counts()
print("\n--- Employee counts per Department ---")
print(dept_counts)

--- Employee counts per Department ---
Department
HR             2
Engineering    2
Marketing      2
Name: count, dtype: int64

In [14]:
# Sort by Salary in descending order
df_sorted_by_salary = df.sort_values(by='Salary', ascending=False)
print("--- Sorted by Salary (Descending) ---")
print(df_sorted_by_salary)

# Sort by Department, then by Salary
df_multi_sorted = df.sort_values(by=['Department', 'Salary'])
print("\n--- Sorted by Department, then Salary ---")
print(df_multi_sorted)

--- Sorted by Salary (Descending) ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E04          Sneha  Engineering 2021-05-20  105000              4.9
E02          Priya  Engineering 2021-05-12   95000              4.8
E06         Anjali    Marketing 2022-09-30   75000             <NA>
E03          Rohan    Marketing 2023-01-15   72000              3.9
E07          Kiran         <NA> 2023-07-11   68000              3.5
E01           Arun           HR 2022-08-01   60000              4.5
E05         Vikram           HR 2024-02-01   58000              4.1

--- Sorted by Department, then Salary ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E02          Priya  Engineering 2021-05-12   95000              4.8
E04          Sneha  Engineering 2021-05-20  105000              4.9
E05         Vikram           HR 2024-02-01   58000              4.1
E01           Arun           HR 2022-08-01   60000              4.5
E03          Rohan    Marketing 2023-01-15   72000              3.9
E06         Anjali    Marketing 2022-09-30   75000             <NA>
E07          Kiran         <NA> 2023-07-11   68000              3.5