In [ ]:
import pandas as pd

# Data for our table
student_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Henry'],
    'Age': [22, 23, 21, 22, 24, 30],
    'Major': ['Physics', 'History', 'Computer Science', 'Math', 'Physics', 'Chemistry']
}

# Create a DataFrame
df = pd.DataFrame(student_data)

print("Original DataFrame:")
print(df)

Original DataFrame:
         0        1        2                 3      4        5          6
0   [Name]    Alice      Bob           Charlie  David      Eva      Henry
1    [Age]       22       23                21     22       24         30
2  [Major]  Physics  History  Computer Science   Math  Physics  Chemistry

In [50]:
# Show the first 3 rows (default is 5)
print(df.head(3))

         0        1        2                 3      4        5          6
0   [Name]    Alice      Bob           Charlie  David      Eva      Henry
1    [Age]       22       23                21     22       24         30
2  [Major]  Physics  History  Computer Science   Math  Physics  Chemistry

In [27]:
# Show the last 3 rows (default is 5)
print(df.tail(2))

    Name  Age      Major
4    Eva   24    Physics
5  Henry   30  Chemistry

In [28]:
# Get the number of rows and columns
print(f"{df.shape[0]} rows and {df.shape[1]} columns.")

6 rows and 3 columns.

In [29]:
# Get a concise summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Major   6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [35]:
df.describe()

             Age
count   6.000000
mean   23.666667
std     3.265986
min    21.000000
25%    22.000000
50%    22.500000
75%    23.750000
max    30.000000

In [30]:
# Select only the 'Name' column
names = df['Name']
print(names)

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
5      Henry
Name: Name, dtype: object

In [31]:
# Select the 'Name' and 'Major' columns
name_and_major = df[['Name', 'Major']]
print(name_and_major)

      Name             Major
0    Alice           Physics
1      Bob           History
2  Charlie  Computer Science
3    David              Math
4      Eva           Physics
5    Henry         Chemistry

In [32]:
# Get all students with Age > 22
older_students = df[df['Age'] > 22]
print(older_students)

    Name  Age      Major
1    Bob   23    History
4    Eva   24    Physics
5  Henry   30  Chemistry

In [33]:
# Get all Physics majors older than 22
# Note the parentheses around each condition
physics_majors_older_than_22 = df[(df['Major'] == 'Physics') & (df['Age'] > 22)]
print(physics_majors_older_than_22)

  Name  Age    Major
4  Eva   24  Physics

In [36]:
# Add a 'GPA' column
df['GPA'] = [3.8, 3.5, 3.9, 3.4, 3.7, 3.8]
print(df)

      Name  Age             Major  GPA
0    Alice   22           Physics  3.8
1      Bob   23           History  3.5
2  Charlie   21  Computer Science  3.9
3    David   22              Math  3.4
4      Eva   24           Physics  3.7
5    Henry   30         Chemistry  3.8

In [37]:
# Drop the 'GPA' column
df = df.drop('GPA', axis=1)
print(df)

      Name  Age             Major
0    Alice   22           Physics
1      Bob   23           History
2  Charlie   21  Computer Science
3    David   22              Math
4      Eva   24           Physics
5    Henry   30         Chemistry

In [38]:
# Get statistics for numerical columns
print(df['Age'].describe())

count     6.000000
mean     23.666667
std       3.265986
min      21.000000
25%      22.000000
50%      22.500000
75%      23.750000
max      30.000000
Name: Age, dtype: float64

In [39]:
# Calculate the average age
average_age = df['Age'].mean()
print(f"\nThe average age of the students is: {average_age}")

The average age of the students is: 23.666666666666668