In [2]:
import pandas as pd

# Data for our table
student_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [22, 23, 21, 22, 24],
    'Major': ['Physics', 'History', 'Computer Science', 'Math', 'Physics']
}

# Create a DataFrame
df = pd.DataFrame(student_data)

print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age             Major
0    Alice   22           Physics
1      Bob   23           History
2  Charlie   21  Computer Science
3    David   22              Math
4      Eva   24           Physics

In [3]:
# Show the first 3 rows (default is 5)
print("First 3 rows:")
print(df.head(3))

First 3 rows:
      Name  Age             Major
0    Alice   22           Physics
1      Bob   23           History
2  Charlie   21  Computer Science

In [6]:
# Get the number of rows and columns
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

The DataFrame has 5 rows and 3 columns.

In [ ]:
# Get a concise summary
print("DataFrame Info:")
df.info()

--- df.describe() ---
                            HireDate         Salary
count                              7       7.000000
mean   2022-09-03 17:08:34.285714176   76142.857143
min              2021-05-12 00:00:00   58000.000000
25%              2021-12-25 00:00:00   64000.000000
50%              2022-09-30 00:00:00   72000.000000
75%              2023-04-13 12:00:00   85000.000000
max              2024-02-01 00:00:00  105000.000000
std                              NaN   17620.334573

In [7]:
# Select only the 'Name' column
names = df['Name']
print("Selecting the 'Name' column:")
print(names)

Selecting the 'Name' column:
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

In [13]:
# Select the 'Name' and 'Major' columns
name_and_major = df[['Name', 'Major']]
print(name_and_major)

      Name             Major
0    Alice           Physics
1      Bob           History
2  Charlie  Computer Science
3    David              Math
4      Eva           Physics

In [11]:
# Get all students with Age > 22
older_students = df[df['Age'] > 22]
print(older_students)

  Name  Age    Major
1  Bob   23  History
4  Eva   24  Physics

In [12]:
# Get all Physics majors older than 22
# Note the parentheses around each condition
physics_majors_older_than_22 = df[(df['Major'] == 'Physics') & (df['Age'] > 22)]
print(physics_majors_older_than_22)

  Name  Age    Major
4  Eva   24  Physics

In [18]:
# Add a 'GPA' column
df['GPA'] = [3.8, 3.5, 3.9, 3.4, 3.7]
print(df)

      Name  Age             Major  GPA
0    Alice   22           Physics  3.8
1      Bob   23           History  3.5
2  Charlie   21  Computer Science  3.9
3    David   22              Math  3.4
4      Eva   24           Physics  3.7

In [19]:
# Drop the 'GPA' column
df = df.drop('GPA', axis=1)
print(df)

      Name  Age             Major
0    Alice   22           Physics
1      Bob   23           History
2  Charlie   21  Computer Science
3    David   22              Math
4      Eva   24           Physics

In [20]:
# Get statistics for numerical columns
print(df['Age'].describe())

count     5.000000
mean     22.400000
std       1.140175
min      21.000000
25%      22.000000
50%      22.000000
75%      23.000000
max      24.000000
Name: Age, dtype: float64

In [ ]:
# Calculate the average age
average_age = df['Age'].mean()
print(f"\nThe average age of the students is: {average_age}")

--- Sorted by Salary (Descending) ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E04          Sneha  Engineering 2021-05-20  105000              4.9
E02          Priya  Engineering 2021-05-12   95000              4.8
E06         Anjali    Marketing 2022-09-30   75000             <NA>
E03          Rohan    Marketing 2023-01-15   72000              3.9
E07          Kiran         <NA> 2023-07-11   68000              3.5
E01           Arun           HR 2022-08-01   60000              4.5
E05         Vikram           HR 2024-02-01   58000              4.1

--- Sorted by Department, then Salary ---
              Name   Department   HireDate  Salary PerformanceScore
EmployeeID
E02          Priya  Engineering 2021-05-12   95000              4.8
E04          Sneha  Engineering 2021-05-20  105000              4.9
E05         Vikram           HR 2024-02-01   58000              4.1
E01           Arun           HR 2022-08-01   60000              4.5
E03          Rohan    Marketing 2023-01-15   72000              3.9
E06         Anjali    Marketing 2022-09-30   75000             <NA>
E07          Kiran         <NA> 2023-07-11   68000              3.5